* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container-upper {
  background-color: #007878;
}
.container-upper .upper-header {
  font-family: "Poppins", sans-serif;
  max-width: 1128px;
  margin: 0 auto;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
}
.container-upper .upper-header .left-side {
  display: flex;
  gap: 12px;
  align-items: center;
  color: rgba(255, 255, 255, 0.8980392157);
}
.container-upper .upper-header .left-side p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8980392157);
}
.container-upper .upper-header .right-side {
  gap: 18px;
  display: flex;
  color: rgba(255, 255, 255, 0.7490196078);
}
.container-upper .upper-header .right-side a {
  color: rgba(255, 255, 255, 0.7490196078);
  text-decoration: none;
  font-size: 17px;
}

header {
  font-family: "Poppins", sans-serif;
  border-bottom: solid rgba(39, 49, 66, 0.15) 1px;
}
header nav .top-nav {
  max-width: 1128px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 28px 0;
  align-items: center;
}
header nav .top-nav .functionality {
  display: flex;
  align-items: center;
  gap: 26px;
}
header nav .top-nav .functionality div {
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav .top-nav .search-bar {
  width: 45%;
  height: 48px;
  background-color: #f7f9fc;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav .top-nav .search-bar input {
  padding: 15px;
  width: 100%;
  border: none;
  background-color: #f7f9fc;
}
header nav .top-nav .search-bar input:focus {
  outline: none;
}
header nav .top-nav .search-bar img {
  padding: 12px 16px;
}

nav .bottom-nav {
  font-family: "Poppins", sans-serif;
  max-width: 1128px;
  margin: 0 auto;
  display: flex;
  padding: 3px 0 24px 0;
  align-items: center;
  justify-content: flex-start;
}
nav .bottom-nav .more-bags {
  display: flex;
}
nav .bottom-nav .more-bags ul {
  display: flex;
  list-style: none;
  gap: 54px;
}
nav .bottom-nav .more-bags ul li a {
  color: #273142;
}

@media only screen and (max-width: 992px) {
  header .container-upper {
    display: none;
  }
  header nav .top-nav {
    display: flex;
    flex-direction: column;
  }
  header nav .top-nav .search-bar {
    margin: 15px;
  }
  header nav .bottom-nav {
    flex-wrap: wrap !important;
  }
  header nav .fourLinks {
    flex-wrap: wrap;
  }
  header nav .fourLinks .four-bag {
    width: 40% !important;
  }
}
@media only screen and (max-width: 706px) {
  header nav .top-nav {
    display: flex;
    flex-direction: column;
  }
  header nav .bottom-nav {
    justify-content: flex-start;
  }
  header nav .bottom-nav .more-bags {
    display: flex;
  }
  header nav .bottom-nav .more-bags ul {
    gap: 20px;
    font-size: 10px;
  }
}
#shoulder {
  min-height: 1926px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#shoulder .topsection {
  display: flex;
  justify-content: space-between;
  width: 74.5%;
}
#shoulder .topsection .left {
  margin-top: 32px;
}
#shoulder .topsection .left .shoulder {
  font-family: "Rubik", sans-serif;
  line-height: 68px;
  font-size: 40px;
  font-weight: 500;
  color: rgb(33, 33, 33);
}
#shoulder .topsection .right {
  display: flex;
  margin-top: 106px;
  gap: 46px;
}
#shoulder .topsection .right .result {
  font-family: "Poppins", sans-serif;
  line-height: 27.2px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.75);
}
#shoulder .topsection .right .buton {
  width: 140px;
  height: 40px;
  border: solid rgb(208, 208, 208) 1px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shoulder .topsection .right .buton p {
  font-family: "Poppins", sans-serif;
  line-height: 27.2px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.75);
}
#shoulder .topsection .right .buton img {
  width: 28px;
  height: 28px;
}
#shoulder .midsection {
  width: 74.5%;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
#shoulder .midsection .tables {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#shoulder .midsection .tables .catagories {
  width: 326px;
  height: 340px;
  border: solid rgb(208, 208, 208) 1px;
  border-radius: 8px;
}
#shoulder .midsection .tables .catagories ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-top: 16px;
  gap: 16px;
}
#shoulder .midsection .tables .catagories ul .catlist {
  font-family: "Rubik", sans-serif;
  line-height: 34px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  margin-right: 38px;
}
#shoulder .midsection .tables .catagories ul .catlist img {
  width: 14px;
  height: 10px;
}
#shoulder .midsection .tables .catagories ul .list {
  font-family: "Poppins", sans-serif;
  line-height: 27.2px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.75);
}
#shoulder .midsection .tables .catagories ul .listdif {
  font-family: "Poppins", sans-serif;
  line-height: 27.2px;
  font-weight: 400;
  color: rgb(33, 33, 33);
}
#shoulder .midsection .tables .catagories ul .listdif .tick {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: rgb(239, 84, 79);
}
#shoulder .midsection .tables .money {
  width: 326px;
  height: 146px;
  border: solid rgb(208, 208, 208) 1px;
  border-radius: 8px;
}
#shoulder .midsection .tables .money ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-top: 16px;
  gap: 16px;
}
#shoulder .midsection .tables .money ul .catlist {
  font-family: "Rubik", sans-serif;
  line-height: 34px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  margin-right: 38px;
}
#shoulder .midsection .tables .money ul .catlist img {
  width: 14px;
  height: 10px;
}
#shoulder .midsection .tables .money ul .gap {
  display: flex;
  gap: 6px;
}
#shoulder .midsection .tables .money ul .gap .price {
  width: 72px;
  height: 42px;
  border: solid rgb(200, 200, 200) 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 27.2px;
  color: rgba(33, 33, 33, 0.75);
  border-radius: 8px;
}
#shoulder .midsection .tables .money ul .gap p {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shoulder .midsection .tables .money ul .gap .search {
  width: 51px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(239, 84, 79);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
}
#shoulder .midsection .tables .size {
  width: 326px;
  height: 146px;
  border: solid rgb(208, 208, 208) 1px;
  border-radius: 8px;
}
#shoulder .midsection .tables .size ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-top: 16px;
  gap: 16px;
}
#shoulder .midsection .tables .size ul .catlist {
  font-family: "Rubik", sans-serif;
  line-height: 34px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  margin-right: 38px;
}
#shoulder .midsection .tables .size ul .catlist img {
  width: 14px;
  height: 10px;
}
#shoulder .midsection .tables .size ul .gap {
  display: flex;
  gap: 14px;
}
#shoulder .midsection .tables .size ul .gap .price {
  width: 64px;
  height: 42px;
  border: solid rgb(200, 200, 200) 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 27.2px;
  color: rgba(33, 33, 33, 0.75);
  border-radius: 8px;
}
#shoulder .midsection .tables .color {
  width: 326px;
  height: 146px;
  border: solid rgb(208, 208, 208) 1px;
  border-radius: 8px;
}
#shoulder .midsection .tables .color ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-top: 16px;
  gap: 16px;
}
#shoulder .midsection .tables .color ul .catlist {
  font-family: "Rubik", sans-serif;
  line-height: 34px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  margin-right: 38px;
}
#shoulder .midsection .tables .color ul .catlist img {
  width: 14px;
  height: 10px;
}
#shoulder .midsection .tables .color ul .colors {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#shoulder .midsection .tables .color ul .colors .rangetop {
  display: flex;
  gap: 15px;
}
#shoulder .midsection .tables .color ul .colors .rangetop .colorbox {
  width: 18px;
  height: 18px;
  border-radius: 50px;
}
#shoulder .midsection .tables .color ul .colors .rangetop .color1 {
  background-color: rgb(39, 82, 64);
}
#shoulder .midsection .tables .color ul .colors .rangetop .color2 {
  background-color: rgb(0, 133, 255);
}
#shoulder .midsection .tables .color ul .colors .rangetop .color3 {
  background-color: rgb(61, 42, 51);
}
#shoulder .midsection .tables .color ul .colors .rangetop .color4 {
  background-color: rgb(119, 56, 56);
}
#shoulder .midsection .tables .color ul .colors .rangetop .color5 {
  background-color: rgb(0, 0, 0);
}
#shoulder .midsection .tables .color ul .colors .rangetop .color6 {
  background-color: rgb(48, 126, 70);
}
#shoulder .midsection .tables .color ul .colors .rangetop .color7 {
  background-color: rgb(0, 133, 255);
}
#shoulder .midsection .tables .color ul .colors .rangebottom {
  display: flex;
  gap: 15px;
}
#shoulder .midsection .tables .color ul .colors .rangebottom .colorbox {
  width: 18px;
  height: 18px;
  border-radius: 50px;
}
#shoulder .midsection .tables .color ul .colors .rangebottom .color1 {
  background-color: rgb(255, 107, 0);
}
#shoulder .midsection .tables .color ul .colors .rangebottom .color2 {
  background-color: rgb(214, 183, 59);
}
#shoulder .midsection .tables .color ul .colors .rangebottom .color3 {
  background-color: rgb(124, 77, 255);
}
#shoulder .midsection .tables .color ul .colors .rangebottom .color4 {
  background-color: rgb(247, 81, 69);
}
#shoulder .midsection .tables .color ul .colors .rangebottom .color5 {
  background-color: rgb(132, 39, 89);
}
#shoulder .midsection .tables .color ul .colors .rangebottom .color6 {
  background-color: rgb(137, 92, 49);
}
#shoulder .midsection .cards {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
#shoulder .midsection .cards .range1 {
  display: flex;
  gap: 23px;
}
#shoulder .midsection .cards .range1 .card30 {
  height: 508px;
  width: 350px;
  background-color: #F9F9F9;
  border-radius: 5px;
  position: relative;
}
#shoulder .midsection .cards .range1 .card30 .new {
  height: 32px;
  width: 79px;
  background-color: rgb(223, 66, 68);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 16px;
  top: 16px;
  color: white;
}
#shoulder .midsection .cards .range1 .card30 .heart {
  position: absolute;
  right: 16px;
  top: 16px;
}
#shoulder .midsection .cards .range1 .card30 .photo2 {
  padding-top: 70px;
  padding-bottom: 28px;
}
#shoulder .midsection .cards .range1 .card30 .photo3 {
  padding-top: 22px;
}
#shoulder .midsection .cards .range1 .card30 .image {
  display: flex;
  width: 330px;
  justify-content: center;
}
#shoulder .midsection .cards .range1 .card30 .undercard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}
#shoulder .midsection .cards .range1 .card30 .undercard .stars img {
  width: 20px;
  height: 20px;
}
#shoulder .midsection .cards .range1 .card30 .undercard .price {
  display: flex;
  gap: 18px;
  font-family: "Poppins", sans-serif;
}
#shoulder .midsection .cards .range1 .card30 .undercard .price .red {
  color: #F75145;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
}
#shoulder .midsection .cards .range1 .card30 .undercard .price .gray {
  font-weight: 400;
  line-height: 27.2px;
  color: rgba(54, 54, 54, 0.7960784314);
  padding-top: 3px;
}
#shoulder .midsection .cards .range1 .card30 .undercard .buton {
  font-family: "Poppins", sans-serif;
  height: 48px;
  width: 312px;
  border: solid black 1px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500px;
  line-height: 27.2px;
}
#shoulder .midsection .cards .range1 .card {
  height: 508px;
  width: 350px;
  background-color: #F9F9F9;
  border-radius: 5px;
  position: relative;
}
#shoulder .midsection .cards .range1 .card .new {
  height: 32px;
  width: 79px;
  background-color: #43D167;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 16px;
  top: 16px;
  color: white;
}
#shoulder .midsection .cards .range1 .card .heart {
  position: absolute;
  right: 16px;
  top: 16px;
}
#shoulder .midsection .cards .range1 .card .photo2 {
  padding-top: 70px;
  padding-bottom: 28px;
}
#shoulder .midsection .cards .range1 .card .photo3 {
  padding-top: 22px;
}
#shoulder .midsection .cards .range1 .card .image {
  display: flex;
  width: 330px;
  justify-content: center;
}
#shoulder .midsection .cards .range1 .card .undercard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}
#shoulder .midsection .cards .range1 .card .undercard .stars img {
  width: 20px;
  height: 20px;
}
#shoulder .midsection .cards .range1 .card .undercard .price {
  display: flex;
  gap: 18px;
  font-family: "Poppins", sans-serif;
}
#shoulder .midsection .cards .range1 .card .undercard .price .red {
  color: #F75145;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
}
#shoulder .midsection .cards .range1 .card .undercard .price .gray {
  font-weight: 400;
  line-height: 27.2px;
  color: rgba(54, 54, 54, 0.7960784314);
  padding-top: 3px;
}
#shoulder .midsection .cards .range1 .card .undercard .buton {
  font-family: "Poppins", sans-serif;
  height: 48px;
  width: 312px;
  border: solid black 1px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500px;
  line-height: 27.2px;
}
#shoulder .midsection .cards .range2 {
  display: flex;
  gap: 23px;
}
#shoulder .midsection .cards .range2 .card30 {
  height: 508px;
  width: 350px;
  background-color: #F9F9F9;
  border-radius: 5px;
  position: relative;
}
#shoulder .midsection .cards .range2 .card30 .new {
  height: 32px;
  width: 79px;
  background-color: rgb(223, 66, 68);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 16px;
  top: 16px;
  color: white;
}
#shoulder .midsection .cards .range2 .card30 .heart {
  position: absolute;
  right: 16px;
  top: 16px;
}
#shoulder .midsection .cards .range2 .card30 .photo2 {
  padding-top: 70px;
  padding-bottom: 28px;
}
#shoulder .midsection .cards .range2 .card30 .photo3 {
  padding-top: 22px;
}
#shoulder .midsection .cards .range2 .card30 .image {
  display: flex;
  width: 330px;
  justify-content: center;
}
#shoulder .midsection .cards .range2 .card30 .undercard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}
#shoulder .midsection .cards .range2 .card30 .undercard .stars img {
  width: 20px;
  height: 20px;
}
#shoulder .midsection .cards .range2 .card30 .undercard .price {
  display: flex;
  gap: 18px;
  font-family: "Poppins", sans-serif;
}
#shoulder .midsection .cards .range2 .card30 .undercard .price .red {
  color: #F75145;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
}
#shoulder .midsection .cards .range2 .card30 .undercard .price .gray {
  font-weight: 400;
  line-height: 27.2px;
  color: rgba(54, 54, 54, 0.7960784314);
  padding-top: 3px;
}
#shoulder .midsection .cards .range2 .card30 .undercard .buton {
  font-family: "Poppins", sans-serif;
  height: 48px;
  width: 312px;
  border: solid black 1px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500px;
  line-height: 27.2px;
}
#shoulder .midsection .cards .range2 .card {
  height: 508px;
  width: 350px;
  background-color: #F9F9F9;
  border-radius: 5px;
  position: relative;
}
#shoulder .midsection .cards .range2 .card .new {
  height: 32px;
  width: 79px;
  background-color: #43D167;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 16px;
  top: 16px;
  color: white;
}
#shoulder .midsection .cards .range2 .card .heart {
  position: absolute;
  right: 16px;
  top: 16px;
}
#shoulder .midsection .cards .range2 .card .photo2 {
  padding-top: 70px;
  padding-bottom: 28px;
}
#shoulder .midsection .cards .range2 .card .photo3 {
  padding-top: 22px;
}
#shoulder .midsection .cards .range2 .card .image {
  display: flex;
  width: 330px;
  justify-content: center;
}
#shoulder .midsection .cards .range2 .card .undercard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}
#shoulder .midsection .cards .range2 .card .undercard .stars img {
  width: 20px;
  height: 20px;
}
#shoulder .midsection .cards .range2 .card .undercard .price {
  display: flex;
  gap: 18px;
  font-family: "Poppins", sans-serif;
}
#shoulder .midsection .cards .range2 .card .undercard .price .red {
  color: #F75145;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
}
#shoulder .midsection .cards .range2 .card .undercard .price .gray {
  font-weight: 400;
  line-height: 27.2px;
  color: rgba(54, 54, 54, 0.7960784314);
  padding-top: 3px;
}
#shoulder .midsection .cards .range2 .card .undercard .buton {
  font-family: "Poppins", sans-serif;
  height: 48px;
  width: 312px;
  border: solid black 1px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500px;
  line-height: 27.2px;
}

@media only screen and (max-width: 1255px) {
  #shoulder .midsection {
    display: flex;
    flex-direction: column;
  }
  #shoulder .midsection .cards {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 850px) {
  #shoulder .midsection {
    display: flex;
    flex-direction: column;
  }
  #shoulder .midsection .cards {
    margin-top: 50px;
  }
  #shoulder .midsection .cards .range1 {
    display: flex;
    flex-direction: column;
  }
  #shoulder .midsection .cards .range2 {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  #shoulder .topsection {
    display: flex;
    flex-direction: column;
  }
}
#footer {
  min-height: 618px;
}
#footer .topfooter {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
  height: 115px;
  border-bottom: solid rgba(39, 49, 66, 0.15) 1px;
}
#footer .topfooter .snobella {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-left: 201px;
}
#footer .topfooter .search {
  width: 50%;
}
#footer .topfooter .search input {
  width: 80%;
  height: 48px;
  border: solid rgba(158, 158, 158, 0.35) 1px;
  border-radius: 8px;
  font-weight: 400;
  color: rgb(170, 170, 170);
  line-height: 19.2px;
}
#footer .midfooter {
  width: 100%;
  min-height: 431px;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
#footer .midfooter .leftside {
  margin-left: 201px;
  margin-top: 56px;
}
#footer .midfooter .leftside .text {
  font-family: "Poppins", sans-serif;
  line-height: 27.2px;
  font-weight: 400;
  max-width: 326px;
  min-height: 81px;
  color: rgba(33, 33, 33, 0.75);
  margin-bottom: 40px;
}
#footer .midfooter .leftside .mektub {
  display: flex;
  gap: 10px;
  margin-bottom: 27px;
}
#footer .midfooter .leftside .mektub .text2 {
  font-family: "Poppins", sans-serif;
  line-height: 27.2px;
  font-weight: 400;
  max-width: 326px;
  color: rgba(33, 33, 33, 0.75);
}
#footer .midfooter .leftside .mektub img {
  width: 22px;
  height: 22px;
}
#footer .midfooter .leftside .buton {
  height: 48px;
  width: 179px;
  display: flex;
  gap: 10px;
  margin-top: 30px;
  border: solid rgb(23, 23, 23) 1px;
  align-items: center;
  justify-content: center;
  opacity: 80%;
  border-radius: 8px;
}
#footer .midfooter .leftside .buton img {
  width: 22px;
  height: 22px;
}
#footer .midfooter .rightside {
  display: flex;
  width: 60%;
  justify-content: space-around;
}
#footer .midfooter .rightside .name {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30.6px;
  font-weight: 500;
  color: rgb(33, 33, 33);
}
#footer .midfooter .rightside div {
  font-family: "Poppins", sans-serif;
  line-height: 27.2px;
  font-weight: 400;
  max-width: 326px;
  color: rgba(33, 33, 33, 0.75);
  margin-top: 20px;
}
#footer .midfooter .rightside .cancel {
  width: 122px;
}
#footer .bottomfooter {
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .bottomfooter .copyright {
  font-family: "Poppins", sans-serif;
  line-height: 27.2px;
  font-weight: 400;
  max-width: 326px;
  color: rgba(33, 33, 33, 0.75);
  margin-left: 40px;
}
#footer .bottomfooter .social {
  display: flex;
  gap: 32px;
  margin-right: 60px;
}

@media only screen and (max-width: 1255px) {
  #footer .topfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  #footer .topfooter .snobella {
    margin-left: 0;
  }
  #footer .midfooter {
    display: flex;
    flex-direction: column;
  }
  #footer .midfooter .rightside {
    display: none;
  }
  #footer .midfooter .leftside {
    margin-left: 201px;
    margin-top: 56px;
  }
  #footer .midfooter .leftside .text {
    font-family: "Poppins", sans-serif;
    line-height: 27.2px;
    font-weight: 400;
    max-width: 326px;
    min-height: 81px;
    color: rgba(33, 33, 33, 0.75);
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 600px) {
  #footer .midfooter .leftside {
    margin-left: 0;
  }
  #footer .topfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  #footer .topfooter .snobella {
    margin-left: 0;
  }
  #footer .midfooter {
    display: flex;
    flex-direction: column;
  }
  #footer .midfooter .rightside {
    display: none;
  }
}/*# sourceMappingURL=shoulderbag.css.map */