#shoulder {
    min-height: 1926px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .topsection {
        display: flex;
        justify-content: space-between;
        width: 74.5%;

        .left {
            margin-top: 32px;

            .shoulder {
                font-family: "Rubik", sans-serif;
                line-height: 68px;
                font-size: 40px;
                font-weight: 500;
                color: rgba(33, 33, 33, 1);
            }
        }

        .right {
            display: flex;
            margin-top: 106px;
            gap: 46px;

            .result {
                font-family: "Poppins", sans-serif;
                line-height: 27.2px;
                font-weight: 400;
                color: rgba(33, 33, 33, 0.75);
            }

            .buton {
                width: 140px;
                height: 40px;
                border: solid rgba(208, 208, 208, 1) 1px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-family: "Poppins", sans-serif;
                    line-height: 27.2px;
                    font-weight: 400;
                    color: rgba(33, 33, 33, 0.75);
                }

                img {
                    width: 28px;
                    height: 28px;
                }

            }

        }
    }

    .midsection {
        width: 74.5%;
        margin-top: 32px;
        display: flex;
        justify-content: space-between;

        .tables {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .catagories {
                width: 326px;
                height: 340px;
                border: solid rgba(208, 208, 208, 1) 1px;
                border-radius: 8px;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;
                    margin-top: 16px;
                    gap: 16px;


                    .catlist {
                        font-family: "Rubik", sans-serif;
                        line-height: 34px;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 8px;
                        display: flex;
                        justify-content: space-between;
                        margin-right: 38px;


                        img {
                            width: 14px;
                            height: 10px;
                        }
                    }

                    .list {
                        font-family: "Poppins", sans-serif;
                        line-height: 27.2px;
                        font-weight: 400;
                        color: rgba(33, 33, 33, 0.75);
                    }

                    .listdif {
                        font-family: "Poppins", sans-serif;
                        line-height: 27.2px;
                        font-weight: 400;
                        color: rgba(33, 33, 33, 1);

                        .tick {
                            width: 16px;
                            height: 16px;
                            border-radius: 3px;
                            background-color: rgba(239, 84, 79, 1);
                        }


                    }
                }
            }

            .money {
                width: 326px;
                height: 146px;
                border: solid rgba(208, 208, 208, 1) 1px;
                border-radius: 8px;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;
                    margin-top: 16px;
                    gap: 16px;

                    .catlist {
                        font-family: "Rubik", sans-serif;
                        line-height: 34px;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 8px;
                        display: flex;
                        justify-content: space-between;
                        margin-right: 38px;

                        img {
                            width: 14px;
                            height: 10px;
                        }
                    }

                    .gap {
                        display: flex;
                        gap: 6px;

                        .price {
                            width: 72px;
                            height: 42px;
                            border: solid rgba(200, 200, 200, 1) 1px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: "Rubik", sans-serif;
                            font-weight: 400;
                            line-height: 27.2px;
                            color: rgba(33, 33, 33, 0.75);
                            border-radius: 8px;

                        }

                        p {
                            height: 42px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .search {
                            width: 51px;
                            height: 40px;
                            border-radius: 8px;
                            background-color: rgba(239, 84, 79, 1);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 9px;
                        }
                    }



                }




            }

            .size {
                width: 326px;
                height: 146px;
                border: solid rgba(208, 208, 208, 1) 1px;
                border-radius: 8px;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;
                    margin-top: 16px;
                    gap: 16px;

                    .catlist {
                        font-family: "Rubik", sans-serif;
                        line-height: 34px;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 8px;
                        display: flex;
                        justify-content: space-between;
                        margin-right: 38px;

                        img {
                            width: 14px;
                            height: 10px;
                        }
                    }

                    .gap {
                        display: flex;
                        gap: 14px;

                        .price {
                            width: 64px;
                            height: 42px;
                            border: solid rgba(200, 200, 200, 1) 1px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: "Rubik", sans-serif;
                            font-weight: 400;
                            line-height: 27.2px;
                            color: rgba(33, 33, 33, 0.75);
                            border-radius: 8px;

                        }


                    }



                }
            }

            .color {
                width: 326px;
                height: 146px;
                border: solid rgba(208, 208, 208, 1) 1px;
                border-radius: 8px;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;
                    margin-top: 16px;
                    gap: 16px;

                    .catlist {
                        font-family: "Rubik", sans-serif;
                        line-height: 34px;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 8px;
                        display: flex;
                        justify-content: space-between;
                        margin-right: 38px;

                        img {
                            width: 14px;
                            height: 10px;
                        }
                    }

                    .colors {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .rangetop {
                            display: flex;
                            gap: 15px;

                            .colorbox {

                                width: 18px;
                                height: 18px;
                                border-radius: 50px;
                            }

                            .color1 {
                                background-color: rgba(39, 82, 64, 1);
                            }

                            .color2 {
                                background-color:
                                    rgba(0, 133, 255, 1);
                            }

                            .color3 {
                                background-color: rgba(61, 42, 51, 1);
                            }

                            .color4 {
                                background-color: rgba(119, 56, 56, 1);
                            }

                            .color5 {
                                background-color: rgba(0, 0, 0, 1);
                            }

                            .color6 {
                                background-color: rgba(48, 126, 70, 1);
                            }

                            .color7 {
                                background-color: rgba(0, 133, 255, 1);
                            }

                        }

                        .rangebottom {
                            display: flex;
                            gap: 15px;

                            .colorbox {

                                width: 18px;
                                height: 18px;
                                border-radius: 50px;
                            }

                            .color1 {
                                background-color: rgba(255, 107, 0, 1);
                            }

                            .color2 {
                                background-color: rgba(214, 183, 59, 1);
                            }

                            .color3 {
                                background-color: rgba(124, 77, 255, 1);
                            }

                            .color4 {
                                background-color: rgba(247, 81, 69, 1);
                            }

                            .color5 {
                                background-color: rgba(132, 39, 89, 1);
                            }

                            .color6 {
                                background-color: rgba(137, 92, 49, 1);
                            }
                        }
                    }




                }
            }
        }

        .cards {
            display: flex;
            flex-direction: column;
            gap: 48px;
            .range1 {display: flex;
                gap: 23px;
                .card30 {
                    height: 508px;
                    width: 350px;
                    background-color: #F9F9F9;
                    border-radius: 5px;
                    position: relative;

                    .new {
                        height: 32px;
                        width: 79px;
                        background-color: rgba(223, 66, 68, 1);
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 16px;
                        top: 16px;
                        color: white;

                    }

                    .heart {
                        position: absolute;
                        right: 16px;
                        top: 16px;
                    }

                    .photo2 {
                        padding-top: 70px;
                        padding-bottom: 28px;
                    }

                    .photo3 {
                        padding-top: 22px;
                    }

                    .image {
                        display: flex;
                        width: 330px;
                        justify-content: center;

                    }

                    .undercard {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 24px;

                        .stars {
                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .price {
                            display: flex;
                            gap: 18px;
                            font-family: "Poppins", sans-serif;

                            .red {
                                color: #F75145;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 34px;
                            }

                            .gray {
                                font-weight: 400;
                                line-height: 27.2px;
                                color: #363636cb;
                                padding-top: 3px;

                            }

                        }

                        .buton {
                            font-family: "Poppins", sans-serif;
                            height: 48px;
                            width: 312px;
                            border: solid black 1px;
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 500px;
                            line-height: 27.2px;
                        }
                    }
                }
                .card {
                    height: 508px;
                    width: 350px;
                    background-color: #F9F9F9;
                    border-radius: 5px;
                    position: relative;

                    .new {
                        height: 32px;
                        width: 79px;
                        background-color: #43D167;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 16px;
                        top: 16px;
                        color: white;

                    }

                    .heart {
                        position: absolute;
                        right: 16px;
                        top: 16px;
                    }

                    .photo2 {
                        padding-top: 70px;
                        padding-bottom: 28px;
                    }

                    .photo3 {
                        padding-top: 22px;
                    }

                    .image {
                        display: flex;
                        width: 330px;
                        justify-content: center;

                    }

                    .undercard {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 24px;

                        .stars {
                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .price {
                            display: flex;
                            gap: 18px;
                            font-family: "Poppins", sans-serif;

                            .red {
                                color: #F75145;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 34px;
                            }

                            .gray {
                                font-weight: 400;
                                line-height: 27.2px;
                                color: #363636cb;
                                padding-top: 3px;

                            }

                        }

                        .buton {
                            font-family: "Poppins", sans-serif;
                            height: 48px;
                            width: 312px;
                            border: solid black 1px;
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 500px;
                            line-height: 27.2px;
                        }
                    }
                }
            }
            .range2 {display: flex;
                gap: 23px;
                .card30 {
                    height: 508px;
                    width: 350px;
                    background-color: #F9F9F9;
                    border-radius: 5px;
                    position: relative;

                    .new {
                        height: 32px;
                        width: 79px;
                        background-color: rgba(223, 66, 68, 1);
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 16px;
                        top: 16px;
                        color: white;

                    }

                    .heart {
                        position: absolute;
                        right: 16px;
                        top: 16px;
                    }

                    .photo2 {
                        padding-top: 70px;
                        padding-bottom: 28px;
                    }

                    .photo3 {
                        padding-top: 22px;
                    }

                    .image {
                        display: flex;
                        width: 330px;
                        justify-content: center;

                    }

                    .undercard {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 24px;

                        .stars {
                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .price {
                            display: flex;
                            gap: 18px;
                            font-family: "Poppins", sans-serif;

                            .red {
                                color: #F75145;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 34px;
                            }

                            .gray {
                                font-weight: 400;
                                line-height: 27.2px;
                                color: #363636cb;
                                padding-top: 3px;

                            }

                        }

                        .buton {
                            font-family: "Poppins", sans-serif;
                            height: 48px;
                            width: 312px;
                            border: solid black 1px;
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 500px;
                            line-height: 27.2px;
                        }
                    }
                }
                .card {
                    height: 508px;
                    width: 350px;
                    background-color: #F9F9F9;
                    border-radius: 5px;
                    position: relative;

                    .new {
                        height: 32px;
                        width: 79px;
                        background-color: #43D167;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 16px;
                        top: 16px;
                        color: white;

                    }

                    .heart {
                        position: absolute;
                        right: 16px;
                        top: 16px;
                    }

                    .photo2 {
                        padding-top: 70px;
                        padding-bottom: 28px;
                    }

                    .photo3 {
                        padding-top: 22px;
                    }

                    .image {
                        display: flex;
                        width: 330px;
                        justify-content: center;

                    }

                    .undercard {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 24px;

                        .stars {
                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .price {
                            display: flex;
                            gap: 18px;
                            font-family: "Poppins", sans-serif;

                            .red {
                                color: #F75145;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 34px;
                            }

                            .gray {
                                font-weight: 400;
                                line-height: 27.2px;
                                color: #363636cb;
                                padding-top: 3px;

                            }

                        }

                        .buton {
                            font-family: "Poppins", sans-serif;
                            height: 48px;
                            width: 312px;
                            border: solid black 1px;
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 500px;
                            line-height: 27.2px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1255px){
#shoulder{
    .midsection{
        display: flex;
        flex-direction: column;
        .cards{
            margin-top: 50px;
        }
    }
}
}
@media only screen and (max-width: 850px){
    #shoulder{
        .midsection{
            display: flex;
            flex-direction: column;
            .cards{
                margin-top: 50px;
                .range1{
                    display: flex;
                    flex-direction: column;
                }
                .range2{
                    display: flex;
                    flex-direction: column;

                }
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    #shoulder {
        .topsection {
            display: flex;
            flex-direction: column;
        }
    }
}