#delivery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    .container{
        width: 72.5%;
        min-height:249px ;
        border: solid rgba(228, 228, 228, 1) 1px;
        display: flex;
        .garanty{
            max-width: 300px;
            padding: 30px;
            display: flex;
            flex-direction:column ;
            align-items: center;
            justify-content: center;
            .black{
                font-family: "Poppins", sans-serif;
                line-height: 27.2px;
                font-weight: 500;
                margin-top: 12px;
                margin-bottom: 16px;
            }
            .gray{
                color: rgba(33, 33, 33, 0.75);
                font-family: "Poppins", sans-serif;
                line-height: 27.2px;
                font-weight: 500;
            }
        }
        .line{
            height: 157px;
            border-left: solid rgba(228, 228, 228, 1) 1px;
            margin-top: 45px;
        }


    }
}
@media only screen and (max-width: 1255px){
    #delivery{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 72px;
        .container{
            width:50%;
            min-height:249px ;
            border: solid rgba(228, 228, 228, 1) 1px;
            display: flex;
            flex-direction: column;
            .garanty{
                max-width: 300px;
                padding: 30px;
                display: flex;
                flex-direction:column ;
                align-items: center;
                justify-content: center;
                .black{
                    font-family: "Poppins", sans-serif;
                    line-height: 27.2px;
                    font-weight: 500;
                    margin-top: 12px;
                    margin-bottom: 16px;
                }
                .gray{
                    color: rgba(33, 33, 33, 0.75);
                    font-family: "Poppins", sans-serif;
                    line-height: 27.2px;
                    font-weight: 500;
                }
            }
            .line{
                height: 0px;
                border-left: solid rgba(228, 228, 228, 1) 1px;
                margin-top: 45px;
            }
    
    
        }
    }

}