#item {
    margin-bottom: 96px;
    width: 100%;

    .image {
        display: flex;
        justify-content: center;
        width: 37%;
        margin-top: 24px;
    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 32px;

        .main {
            display: flex;
            justify-content: center;
            width: 100%;





            .leftside {
                display: flex;
                
                gap: 24px;

                .lilphotos {
                    .fourphoto {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;


                        .lilphoto {
                            width: 72px;
                            height: 94px;
                            border: solid rgba(32, 99, 99, 1) 1px;
                            display: flex;
                            align-items: center;
                            justify-content: center;



                            img {
                                width: 70px;
                                height: 79px;
                            }




                        }

                        .lilphoto2 {
                            width: 72px;
                            height: 94px;
                            border: solid rgba(228, 228, 228, 1) 1px;
                            display: flex;
                            align-items: center;
                            justify-content: center;


                            img {
                                width: 70px;
                                height: 79px;
                            }



                        }
                    }

                    .arrows {
                        width: 72px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                }

                .card {
                    height: 508px;
                    width: 463px;
                    
                    background-color: #F9F9F9;
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .new {
                        height: 32px;
                        width: 79px;
                        background-color: rgba(223, 66, 68, 1);
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 16px;
                        top: 16px;
                        color: white;

                    }

                    .heart {
                        position: absolute;
                        right: 16px;
                        top: 16px;
                    }

                    .photo2 {
                        padding-top: 70px;
                        padding-bottom: 28px;
                    }

                    .photo3 {
                        padding-top: 22px;
                    }

                    .image {
                        display: flex;
                        width: 340px;
                        height: 379px;
                        justify-content: center;
                    }
                }
            }

            .rightside {
                
                margin-left: 50px;

                .hotel {
                    font-family: "Rubik", sans-serif;
                    line-height: 40.8px;
                    font-size: 24px;
                    font-weight: 500;
                }

                .starline {
                    display: flex;
                    gap: 10px;
                    margin-top: 8px;

                    .stars {
                        display: flex;
                        gap: 6px;
                    }

                    .rewiews {
                        display: flex;
                        gap: 9px;

                        div {
                            font-family: "Poppins", sans-serif;
                            color: rgba(33, 33, 33, 1);
                            line-height: 23.8px;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }

                .line3 {
                    display: flex;
                    margin-top: 24px;
                    gap: 24px;

                    .box {
                        height: 60px;
                        width: 224px;
                        border: solid rgba(228, 228, 228, 1) 1px;
                        border-radius: 8px;
                        display: flex;
                        gap: 30px;
                        align-items: center;
                        justify-content: center;

                        .howmuch {
                            font-family: "Poppins", sans-serif;
                            line-height: 23.8px;
                            font-size: 14px;
                            font-weight: 400;
                            color: rgba(33, 33, 33, 0.9);
                        }

                        .price {
                            font-family: "Poppins", sans-serif;
                            line-height:
                                30.6px;
                            font-size: 18px;
                            font-weight: 500;

                        }
                    }
                }

                .line4 {
                    display: flex;
                    margin-top: 16px;
                    gap: 24px;

                    .box {
                        height: 60px;
                        width: 224px;
                        border: solid rgba(228, 228, 228, 1) 1px;
                        border-radius: 8px;
                        display: flex;
                        gap: 30px;
                        align-items: center;
                        justify-content: center;

                        .howmuch {
                            font-family: "Poppins", sans-serif;
                            line-height: 23.8px;
                            font-size: 14px;
                            font-weight: 400;
                            color: rgba(33, 33, 33, 0.9);
                        }

                        .price {
                            font-family: "Poppins", sans-serif;
                            line-height:
                                30.6px;
                            font-size: 18px;
                            font-weight: 500;

                        }
                    }

                    .boxred {
                        height: 60px;
                        width: 224px;
                        border: solid rgba(247, 81, 69, 1) 1px;
                        border-radius: 8px;
                        display: flex;
                        gap: 30px;
                        align-items: center;
                        justify-content: center;

                        .howmuch {
                            font-family: "Poppins", sans-serif;
                            line-height: 23.8px;
                            font-size: 14px;
                            font-weight: 400;
                            color: rgba(33, 33, 33, 0.9);
                        }

                        .price {
                            font-family: "Poppins", sans-serif;
                            line-height:
                                30.6px;
                            font-size: 18px;
                            font-weight: 500;
                            color: rgba(247, 81, 69, 1);

                        }

                    }
                }

                .sizecolor {
                    display: flex;
                    gap: 287px;
                    
                    margin-top: 32px;

                    div {
                        font-family: "Rubik", sans-serif;
                        line-height: 27.2px;
                        font-size: 16px;
                        font-weight: 500;
                        color:
                            rgba(33, 33, 33, 1);
                    }
                }

                .settings {
                    margin-top: 15.4px;
                    display: flex;
                    gap: 100px;
                    
                    

                    .sizes {
                        display: flex;
                        gap: 14px;

                        .xs {
                            height: 40px;
                            width: 64px;
                            border: solid rgba(33, 33, 33, 1) 1px;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: "Poppins", sans-serif;
                            line-height: 27.2px;
                            font-weight: 400;
                        }

                        .sm {
                            height: 40px;
                            width: 64px;
                            border: solid rgba(228, 228, 228, 1) 1px;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: "Poppins", sans-serif;
                            line-height: 27.2px;
                            font-weight: 400;
                        }
                    }

                    .colors {
                        display: flex;
                        gap: 17px;

                        .borderorange {
                            width: 24px;
                            height: 24px;
                            border: solid rgba(39, 49, 66, 0.473) 1px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .orange {
                                width: 18px;
                                height: 18px;
                                background-color: rgba(205, 92, 11, 1);
                                border-radius: 50%;
                            }
                        }

                        .blue {
                            margin-top: 3px;
                            width: 18px;
                            height: 18px;
                            background-color: rgba(0, 133, 255, 1);
                            border-radius: 50%;
                        }

                        .green {
                            margin-top: 3px;
                            width: 18px;
                            height: 18px;
                            background-color:
                                rgba(53, 120, 59, 1);
                            border-radius: 50%;
                        }

                        .pink {
                            margin-top: 3px;
                            width: 18px;
                            height: 18px;
                            background-color: rgba(237, 8, 117, 1);
                            border-radius: 50%;
                        }
                    }
                }

                .payment {
                    display: flex;
                    gap: 24px;
                    margin-top: 52px;

                    .addcard {
                        width: 224px;
                        height: 52px;
                        background-color: rgba(223, 66, 68, 1);
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;
                        font-family: "Rubik", sans-serif;
                        line-height: 27.2px;
                        font-weight: 500;

                    }
                    .cash{
                        font-family: "Rubik", sans-serif;
                        width: 224px;
                        height: 52px;
                        border-radius: 8px;
                        line-height: 27.2px;
                        font-weight: 500;
                        border: solid rgba(33, 33, 33, 1) 1px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                }
                .order{
                    margin-top: 16px;
                    line-height: 23.8px;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    text-decoration: underline;
                }


            }
        }
    }
}
@media only screen and (max-width: 1100px){
    #item{
        .container{
            .main{
                display: flex;
                flex-direction: column;
                gap: 50px;
            }
        }
    }
}
@media only screen and (max-width: 580px){
    #item{
        .container{
            .main{
                display: flex;
                flex-direction: column;
                gap: 50px;
                .leftside{
                    .card{
                        width: 300px;
                        height: 300px;
                        .image{
                            width: 150px;
                            height: 175px;
                        }
                    }
                }
                .rightside{
                    .sizecolor{
                        display: flex;
                        flex-direction: column;
                        gap: 0;

                    }
                    .settings{
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                    }

                }
            }
        }
    }
   
    
}
@media only screen and (max-width: 420px){
    #item{
        .container{
            .main{
                display: flex;
                flex-direction: column;
                gap: 50px;
                .leftside{
                    .card{
                        width: 300px;
                        height: 300px;
                        .image{
                            width: 150px;
                            height: 175px;
                        }
                    }
                }
                .rightside{
                    .line3{
                        display: flex;
                        flex-direction: column;

                    }
                    .line4{
                        display: flex;
                        flex-direction: column;

                    }
                    
                    

                }
            }
        }
    }
}
@media only screen and (max-width: 580px){
    #item{
        .container{
            .main{
                display: flex;
                flex-direction: column;
                gap: 50px;
                .leftside{
                    .card{
                        width: 300px;
                        height: 300px;
                        .image{
                            width: 150px;
                            height: 175px;
                        }
                    }
                }
                
            }
        }
    }

}