#productdescription {
    width: 100%;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;

    .container {
        width: 73%;
        

        .topsection {
            display: flex;
            gap: 48px;

            .product {
                font-family: "Poppins", sans-serif;
                line-height:
                    34px;
                font-size: 20px;
                font-weight: 500;
            }

            .rewiews3 {
                color: rgba(33, 33, 33, 0.55);
                font-family: "Poppins", sans-serif;
                line-height:
                    34px;
                font-size: 20px;
                font-weight: 500;
                a{
                    text-decoration: none;
                    color: black;

                }
                
                

            }
        }

        .lines {
            margin-top: 16px;
            
            
            


            .redline {
                max-width: 96px;
                border-top: solid rgba(223, 66, 68, 1) 4px;
                position: relative;
                top: 2px;
                
                
                
            }
            .grayline{
                max-width: 1130px;
                border-top: solid rgba(39, 49, 66, 0.15);
            }
        }
        .phar{
            display: flex;
            flex-direction: column;
            gap: 40px;
            line-height: 
            27.2px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            color: rgba(33, 33, 33, 0.75);
            margin-top: 40px;

        }
        
    }

}