#LinksofSite {
  background-color: white;
  .links-container {
    max-width: 1128px;
    margin: 0 auto;
    padding: 80px 0;
    font-family: "Poppins", sans-serif;

    .fourLinks {
      display: flex;
      justify-content: space-around;
      gap: 24px;

      .four-bag {
        background-color: #f5f5f5;
        width: 25%;
        height: 162px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        h3 {
          padding: 24px;
          font-weight: 500;
          font-size: 18px;
        }

        img {
          position: absolute;
        }
        .pink-bag {
          bottom: 0;
          right: 0;
        }
        .gucci-bag {
          bottom: -17px;
          right: -28px;
        }
        .backpack-bag {
          right: -45px;
          bottom: -79px;
        }
        .leather-bag {
          bottom: -26px;
          right: -13px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .fourLinks {
    flex-wrap: wrap;
    .four-bag {
      width: 40% !important;
    }
  }
}

@media only screen and (max-width: 506px) {
  .fourLinks {
    flex-wrap: wrap;
    .four-bag {
      width: 100% !important;
    }
  }
}
