* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: black;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstRaw {
  width: 1200px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.firstRaw div a {
  color: white;
  font-size: 12px;
  font-weight: 400;
  font-family: "Kanit", sans-serif;
}

.menu {
  display: flex;
  width: 60%;
}
.menu a {
  margin: 10px;
}
.cards {
  justify-content: end;
  display: flex;
  gap: 5px;
  width: 40%;
}

.cards a {
  border-radius: 10px;
  padding: 10px 10px;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.1);
  width: max-content;
}

.secondRaw {
  display: flex;

  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  height: 78px;
  position: relative;
  left: -15px;
}

.secondRaw a {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 30px 15px;
  font-family: "Kanit", sans-serif;
}
.secondRaw .call {
  border: 1px solid white;
  position: absolute;
  right: 0;
  border-radius: 25px;
  padding: 8px 15px;
}
.Uimage {
  margin-right: 30px;
  width: 26px;
  height: 28px;
}

section {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 32px;
  font-weight: 800;
  color: white;
  margin: 0 0 30px;
  font-family: "Kanit", sans-serif;
}

.firstPhotos {
  display: flex;
  position: relative;
  left: -30px;
}

.firstPhotos div {
  color: #ff7a00;
  border: 1px solid transparent;
  width: 372px;
  height: 283px;
  padding: 0 15px;
  margin: 0 15px 30px 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 350ms;
}
.firstPhotos div:hover {
  background-color: #ff7a00;
  color: white;
}

.secondPhotos {
  display: flex;
  position: relative;
  left: -30px;
}

.secondPhotos div {
  color: #ff7a00;
  border: 1px solid transparent;
  width: 372px;
  height: 283px;
  padding: 0 15px;
  margin: 0 15px 30px 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 350ms;
}

.secondPhotos div:hover {
  background-color: #ff7a00;
  color: white;
}
.fa-phone {
  color: #ff7a00;
  margin: 0px 5px;
}

h4 {
  color: white;
}
p {
  color: white;
}

.icons {
  margin: 20px;
  font-size: 70px;
}

.disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #ff7a00;
  color: white;
  background-color: #ff7a00;
  position: fixed;
  position: relative;
  left: -150px;
  bottom: 150px;
}
