#orders-page {
  .orders-page-container {
    font-family: "Poppins", sans-serif;
    max-width: 1128px;
    margin: 0 auto;

    .navigation {
      margin-top: 32px;
      margin-bottom: 6px;
    }

    h2 {
      color: #212121;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 42px;
      font-family: "Rubik", sans-serif;
    }

    .client-options {
      display: flex;
      gap: 24px;

      .client-info {
        height: max-content;
        display: flex;
        flex-direction: column;
        max-width: 264px;
        border: 1px solid #e4e4e4;

        border-radius: 8px;
        overflow: hidden;

        .choices {
          display: flex;
          padding: 14px 24px;
          border: 1px solid #e4e4e4;
          gap: 12px;
          color: #212121;

          a {
            color: #212121;
          }
        }

        .choicesord {
          display: flex;
          padding: 14px 24px;
          border: 1px solid #e4e4e4;
          border-left: solid rgba(0, 120, 120, 1) 2px;
          gap: 12px;
          color: #212121;
          background-color:
            rgba(249, 249, 249, 1);

          a {
            color: #212121;
          }
        }

        .main-row-client {
          display: flex;
          gap: 20px;
          padding: 17px 14px;

          .client-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          .client-code {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h5 {
              font-family: "Rubik", sans-serif;

              font-size: 16px;
              font-weight: 500;
              color: #212121;
            }

            p {
              font-size: 14px;
              color: #212121bf;
              font-weight: 400;
              white-space: nowrap;
            }
          }
        }
      }

      .table-div {
        margin-bottom: 114px;
        max-width: 840px;

        #customer-orders {
          display: flex;
          flex-direction: column;
          border: 1px solid #e4e4e4;
          border-radius: 8px;

          tr {
            border: none;

            .pending {
              color: #ffc80a;
            }

            .delivered {
              color: #007878;
            }

            .canceled {
              color: #df4244;
            }
          }

          tr:nth-child(even) {
            background-color: #f9fbfb;
          }

          td,
          th {
            font-size: 14px;
            font-weight: 400;
            padding: 16px 32px;
            white-space: nowrap;
          }

          th {
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .navigation {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .client-options {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 850px) {
  .client-info {
    font-size: 14px;
  }

  td,
  th {
    padding: 8px 16px !important;
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 600px) {
  .client-info {
    font-size: 8px;

    h5 {
      font-size: 12px !important;
    }

    p {
      font-size: 8px !important;
    }
  }

  td,
  th {
    padding: 4px 8px !important;
    font-size: 8px !important;
  }
}