#adresses-section {
  .adresses-page-container {
    font-family: "Poppins", sans-serif;
    max-width: 1128px;
    margin: 0 auto;
    .navigation {
      margin-top: 32px;
      margin-bottom: 6px;
    }
    h2 {
      color: #212121;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 42px;
      font-family: "Rubik", sans-serif;
    }
    .adress-options {
      display: flex;
      gap: 24px;
      .client-info {
        height: max-content;
        display: flex;
        flex-direction: column;
        max-width: 264px;
        border: 1px solid #e4e4e4;

        border-radius: 8px;
        overflow: hidden;
        .choices {
          display: flex;
          padding: 14px 24px;
          border: 1px solid #e4e4e4;
          gap: 12px;
          color: #212121;
          a {
            color: #212121;
          }
        }
        .choicesadr {
          display: flex;
          padding: 14px 24px;
          border: 1px solid #e4e4e4;
          border-left: solid rgba(0, 120, 120, 1) 2px;
          gap: 12px;
          color: #212121;
          background-color:
            rgba(249, 249, 249, 1);

          a {
            color: #212121;
          }
        }
        .main-row-client {
          display: flex;
          gap: 20px;
          padding: 17px 14px;

          .client-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
            }
          }
          .client-code {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h5 {
              font-family: "Rubik", sans-serif;

              font-size: 16px;
              font-weight: 500;
              color: #212121;
            }
            p {
              font-size: 14px;
              color: #212121bf;
              font-weight: 400;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .Locations {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 800px;
      column-gap: 24px;
      row-gap: 32px;
      margin-bottom: 114px;
      .new-adress-adder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px dashed #007878;
        background-color: #f9f9f9;
        border-radius: 8px;
        gap: 12px;
      }
      .location-adress {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px 20px;
        border: 1px solid #e4e4e4;
        border-radius: 8px;
        overflow: hidden;
        h6 {
          color: #212121;
          font-size: 14px;
          font-weight: 500;
          margin: 16px 0;
        }
        p {
          font-size: 14px;
          color: #212121bf;
        }
        .middle-paragraph {
          margin: 8px 0;
        }
        .header-location {
          border-bottom: 1px solid #e4e4e4;
          display: flex;
          justify-content: space-between;
          padding-bottom: 9px;
          h5 {
            color: #212121;
            font-style: 16px;
            font-weight: 500;
          }
        }
        .footer-location {
          margin-top: 40px;
          display: flex;
          justify-content: space-between;
          .edit-button {
            display: flex;
            border: 1px solid #e4e4e4;
            border-radius: 8px;
            gap: 9px;
            padding: 6px 12px;
            p {
              font-size: 14px;
              font-weight: 400;
              color: #585858;
            }
          }
          .remove-button {
            padding: 6px 12px;

            display: flex;
            border: 1px solid #e4e4e4;
            gap: 9px;
            border-radius: 8px;
            p {
              font-size: 14px;
              font-weight: 400;
              color: #585858;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .navigation {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .adress-options {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 850px) {
  .Locations {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media only screen and (max-width: 600px) {
  .Locations {
    grid-template-columns: 1fr !important;
  }
}
