#favorites {
    .orders-page-container {
        font-family: "Poppins", sans-serif;
        max-width: 1128px;
        margin: 0 auto;
        margin-bottom: 114px;

        .navigation {
            margin-top: 32px;
            margin-bottom: 6px;
        }

        h2 {
            color: #212121;
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 42px;
            font-family: "Rubik", sans-serif;
        }

        .client-options {
            display: flex;
            gap: 24px;

            .client-info {
                height: max-content;
                display: flex;
                flex-direction: column;
                max-width: 264px;
                border: 1px solid #e4e4e4;

                border-radius: 8px;
                overflow: hidden;

                .choices {
                    display: flex;
                    padding: 14px 24px;
                    border: 1px solid #e4e4e4;
                    gap: 12px;
                    color: #212121;

                    a {
                        color: #212121;
                    }
                }

                .choicesfav {
                    display: flex;
                    padding: 14px 24px;
                    border: 1px solid #e4e4e4;
                    border-left: solid rgba(0, 120, 120, 1) 2px;
                    gap: 12px;
                    color: #212121;
                    background-color:
                        rgba(249, 249, 249, 1);

                    a {
                        color: #212121;
                    }
                }

                .main-row-client {
                    display: flex;
                    gap: 20px;
                    padding: 17px 14px;

                    .client-image {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }

                    .client-code {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        h5 {
                            font-family: "Rubik", sans-serif;

                            font-size: 16px;
                            font-weight: 500;
                            color: #212121;
                        }

                        p {
                            font-size: 14px;
                            color: #212121bf;
                            font-weight: 400;
                            white-space: nowrap;
                        }
                    }
                }
            }

            .rightside {
                display: flex;
                flex-direction: column;
                gap: 48px;



                .range2 {
                    display: flex;
                    gap: 23px;


                    .card30 {
                        height: 508px;
                        width: 350px;
                        background-color: #F9F9F9;
                        border-radius: 5px;
                        position: relative;

                        .new {
                            height: 32px;
                            width: 79px;
                            background-color: rgba(223, 66, 68, 1);
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            left: 16px;
                            top: 16px;
                            color: white;

                        }

                        .heart {
                            position: absolute;
                            right: 16px;
                            top: 16px;
                        }

                        .photo2 {
                            padding-top: 70px;
                            padding-bottom: 28px;
                        }

                        .photo3 {
                            padding-top: 22px;
                        }

                        .image {
                            display: flex;
                            width: 330px;
                            justify-content: center;

                        }

                        .undercard {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            padding: 24px;

                            .stars {
                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }

                            .price {
                                display: flex;
                                gap: 18px;
                                font-family: "Poppins", sans-serif;

                                .red {
                                    color: #F75145;
                                    font-size: 20px;
                                    font-weight: 600;
                                    line-height: 34px;
                                }

                                .gray {
                                    font-weight: 400;
                                    line-height: 27.2px;
                                    color: #363636cb;
                                    padding-top: 3px;

                                }

                            }

                            .buton {
                                font-family: "Poppins", sans-serif;
                                height: 48px;
                                width: 312px;
                                border: solid black 1px;
                                border-radius: 3px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: 500px;
                                line-height: 27.2px;
                            }
                        }
                    }

                    .card {
                        height: 508px;
                        width: 350px;
                        background-color: #F9F9F9;
                        border-radius: 5px;
                        position: relative;

                        .new {
                            height: 32px;
                            width: 79px;
                            background-color: #43D167;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            left: 16px;
                            top: 16px;
                            color: white;

                        }

                        .heart {
                            position: absolute;
                            right: 16px;
                            top: 16px;
                        }

                        .photo2 {
                            padding-top: 70px;
                            padding-bottom: 28px;
                        }

                        .photo3 {
                            padding-top: 22px;
                        }

                        .image {
                            display: flex;
                            width: 330px;
                            justify-content: center;

                        }

                        .undercard {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            padding: 24px;

                            .stars {
                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }

                            .price {
                                display: flex;
                                gap: 18px;
                                font-family: "Poppins", sans-serif;

                                .red {
                                    color: #F75145;
                                    font-size: 20px;
                                    font-weight: 600;
                                    line-height: 34px;
                                }

                                .gray {
                                    font-weight: 400;
                                    line-height: 27.2px;
                                    color: #363636cb;
                                    padding-top: 3px;

                                }

                            }

                            .buton {
                                font-family: "Poppins", sans-serif;
                                height: 48px;
                                width: 312px;
                                border: solid black 1px;
                                border-radius: 3px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: 500px;
                                line-height: 27.2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    #favorites {
        .orders-page-container {
            .client-options {
                .rightside {
                    .range2 {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #favorites {
        .orders-page-container {
            .client-options {
                display: flex;
                flex-direction: column;

                .rightside {
                    .range2 {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}