#footer {
    min-height: 618px;


    .topfooter {
        display: flex;
        justify-content: space-between;
        background-color: whitesmoke;
        align-items: center;
        height: 115px;
        border-bottom: solid rgba(39, 49, 66, 0.15) 1px;


        .snobella {
            font-family: "Palanquin Dark", sans-serif;
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
            color: rgba(0, 0, 0, 1);
            margin-left: 201px;

        }

        .search {

            width: 50%;


            input {
                width: 80%;
                height: 48px;
                border: solid rgba(158, 158, 158, 0.35) 1px;
                border-radius: 8px;
                font-weight: 400;
                color: rgba(170, 170, 170, 1);
                line-height: 19.2px
            }
        }
    }

    .midfooter {
        width: 100%;
        min-height: 431px;
        display: flex;
        justify-content: space-between;

        background-color: whitesmoke;

        .leftside {
            margin-left: 201px;
            margin-top: 56px;

            .text {
                font-family: "Poppins", sans-serif;
                line-height: 27.2px;
                font-weight: 400;
                max-width: 326px;
                min-height: 81px;
                color: rgba(33, 33, 33, 0.75);

                margin-bottom: 40px;

            }

            .mektub {
                display: flex;
                gap: 10px;
                margin-bottom: 27px;

                .text2 {
                    font-family: "Poppins", sans-serif;
                    line-height: 27.2px;
                    font-weight: 400;
                    max-width: 326px;
                    color: rgba(33, 33, 33, 0.75);
                }

                img {
                    width: 22px;
                    height: 22px;
                }
            }

            .buton {
                height: 48px;
                width: 179px;
                display: flex;
                gap: 10px;
                margin-top: 30px;
                border: solid rgba(23, 23, 23, 1) 1px;
                align-items: center;
                justify-content: center;
                opacity: 80%;
                border-radius: 8px;

                img {
                    width: 22px;
                    height: 22px;
                }
            }
        }

        .rightside {
            display: flex;
            width: 60%;
            justify-content: space-around;

            .name {
                font-family: "Rubik", sans-serif;
                font-size: 18px;
                line-height: 30.6px;
                font-weight: 500;
                color: rgba(33, 33, 33, 1);


            }

            div {
                font-family: "Poppins", sans-serif;
                line-height: 27.2px;
                font-weight: 400;
                max-width: 326px;
                color: rgba(33, 33, 33, 0.75);
                margin-top: 20px;
            }

            .cancel {
                width: 122px;
            }

        }
    }

    .bottomfooter {
        min-height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .copyright {
            font-family: "Poppins", sans-serif;
            line-height: 27.2px;
            font-weight: 400;
            max-width: 326px;
            color: rgba(33, 33, 33, 0.75);
            margin-left: 40px;
        }

        .social {
            display: flex;
            gap: 32px;
            margin-right: 60px;
        }
    }


}

@media only screen and (max-width: 1255px) {
    #footer {


        .topfooter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;

            .snobella {
                margin-left: 0;
            }







        }

        .midfooter {
            display: flex;
            flex-direction: column;

            .rightside {
                display: none;
                
            }

            .leftside {
                margin-left: 201px;
                margin-top: 56px;

                .text {
                    font-family: "Poppins", sans-serif;
                    line-height: 27.2px;
                    font-weight: 400;
                    max-width: 326px;
                    min-height: 81px;
                    color: rgba(33, 33, 33, 0.75);

                    margin-bottom: 40px;

                }
            }
        }
    }

}

@media only screen and (max-width: 600px) {
    #footer {
        .midfooter {
            .leftside {
                margin-left: 0;
            }
        }

        .topfooter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;

            .snobella {
                margin-left: 0;
            }







        }

        .midfooter {
            display: flex;
            flex-direction: column;

            .rightside {
                display: none;
            }
        }
    }

}
