#namesurname {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 96px;

    .container {
        width: 73%;


        .topsection {
            display: flex;
            gap: 48px;

            .product {
                font-family: "Poppins", sans-serif;
                line-height:
                    34px;
                font-size: 20px;
                font-weight: 500;
                color: black;
                text-decoration: none;
            }

            .rewiews3 {
                color: rgba(33, 33, 33, 0.55);
                font-family: "Poppins", sans-serif;
                line-height:
                    34px;
                font-size: 20px;
                font-weight: 500;

            }
        }

        .lines {
            margin-top: 16px;





            .redline {
                max-width: 96px;
                border-top: solid rgba(223, 66, 68, 1) 4px;
                position: relative;
                top: 2px;
                left: 245px;



            }

            .grayline {
                max-width: 1130px;
                border-top: solid rgba(39, 49, 66, 0.15);
            }
        }

        


            .box {
                margin-top: 40px;
                max-width: 960px;
                min-height: 186px;
                border: solid rgba(33, 33, 33, 0.28) 1px;
                border-radius: 8px;

                .namepoint {
                    margin-top: 24px;
                    margin-left: 41px;
                    display: flex;
                    gap: 24px;

                    .name {
                        font-family: "Rubik", sans-serif;
                        line-height: 34px;
                        font-size: 20px;
                        font-weight: 500;
                    }

                    .point {
                        margin-top: 8px;
                    }
                }

                .date {
                    margin-left: 41px;
                    margin-top: 8px;
                    margin-bottom: 24px;
                    line-height:
                        23.8px;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: "Poppins", sans-serif;
                    color: rgba(33, 33, 33, 0.75);

                }

                .phar {
                    margin-left: 41px;
                    line-height:
                        23.8px;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: "Poppins", sans-serif;
                    color: rgba(33, 33, 33, 0.75);
                }
            }
        
    }

}
@media only screen and (max-width: 500px){
    #namesurname{
        .container{
            .lines{
                .redline{
                    display: none;
                }
            }
        }
    }
}